* {box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
   margin: 0%;
   padding:0%;
}

div a {
    display: inline-block;
    text-decoration: none;
    color:rgb(200, 200, 200);
    text-align: center;
    font-size: 20;
    padding: .5em;
    margin-top: 7
    }

.main-header {
    background-image: url(kepek/header.jpg);
    padding-bottom: 12;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    min-width:100%;
}

header a:hover {
    background-color: rgba(220, 220, 220, 30%);
    }
.image {
    display: inline-block;
    height: 30px;
    position: relative;
    margin-top: 0em;
    margin-bottom: 5;

}
.image2 {
    display: inline-block;
    height: 30px;
    position: relative;
    margin-top: 0em;
    margin-bottom: 5;
}
body {
    background-image: url(kepek/paper4.jpg);
    opacity: 100%;
}